@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto&display=swap');

@layer base{
    body{
        font-family: 'Arvo', 'Roboto';
    }
}

@layer utilities{
    .dark-background{
        background-image: radial-gradient(grey, whitesmoke);
        background-image: url('/docs/img/wallpapers/6150433.jpg');
        background-size: cover;
        background-repeat: repeat;
        color: white;
        color: black;
    }

    .light-background{
        background-image: radial-gradient(skyblue, white);
        background-image: url('/docs/img/wallpapers/v856-kul-05.jpg');
        background-size: cover;
        color: black
    }

    .section-min-height {
        min-height: calc(100vh - 68px)
    }

    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
    }
}
